.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    top: 100px;
    left: 100px;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    background-color: #d2ddeb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
  }
 
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(233, 231, 231);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
